{
    "singleQuote": false, 
    "semi": true
     "trailingComma": "nome"
     "overrides": [
        {
            "files": "*.html", 
            "options": {
                "parser": "html"
            }
        }
     ]
      
}

